export const devkitConfig = {
    config: {
        type: "framework",
        version: "1.0.0",
        scope: "build-time",
    },
    framework: {
        id: "nextjs",
        name: "Nextjs",
        version: "16.1.4",
        router: "app",
        directory: "app",
        typescript: true,
        tailwindcss: true,
    },
    source: {
        repo: "framework-nextjs",
        baseBranch: "base",
    },
    structure: {
        layout: "app/layout.tsx",
        page: "app/page.tsx",
        apiRoot: "app/api",
        middleware: "middleware.ts",
        providersDir: "components/providers",
        envExample: ".env.example",
    },
    capabilities: {
        authentication: {
            enabled: true,
            providerWrap: true,
            apiRoutes: true,
            middleware: true,
        },
        database: {
            enabled: true,
        },
        payments: {
            enabled: false,
        },
        order: ["authentication", "database", "payments"]
    },
    compatibility: {
        authentication: {
            allowedProviders: ["betterauth", "auth0"],
        },
        database: {
            allowedOrms: ["prisma", "drizzle"],
            allowedDbTypes: ["postgresql"],
        },
    },
    env: {
        file: ".env",
        exampleFile: ".env.example",
        mode: "merge", // append + dedupe
    },
    anchors: {
        auth: {
            providerWrap: "components/providers/_anchor.tsx",
            api: "app/api/_anchor.ts",
            middleware: "middleware.ts",
        },

        database: {
            client: "lib/_db-anchor.ts",
        },
    },
    cleanup: {
        removeAnchors: true,
        removeConfigFiles: true,
    }
};
